/* Primary colours */
/* 100% */
$gg-blue:#428DCC;
/* 70% tint */
$gg-blue-70:#83ABD8;
/* 20% tint */
$gg-blue-20:#DCE7F4;


$gg-black:#000;
$gg-white:#fff;

/* Secondary colours */

/* 100% */
$gg2-blue:#0068A3;
/* 70% tint */
$gg2-blue-70:#4B85B6;
/* 20% tint */
$gg2-blue-20:#cce3f2;

/* Girls matter colours */
$gm-orange: #f28c00;
$gm-blue: #0091a7;
$gm-pink: #c10d5e;


