/* Primary colours */
/* 100% */
$gg-blue:#428DCC;
/* 70% tint */
$gg-blue-70:#83ABD8;
/* 20% tint */
$gg-blue-20:#DCE7F4;


/* Girls matter colours */
$gm-orange: #f28c00;
$gm-blue: #0091a7;
$gm-pink: #c10d5e;
