.container
.strip-gm-header.strip-gm-header-small.relative.full-section
  .container.gm-header-text-container.center
    .gm-header-text
      =image_tag('large-gg-logo.png')
      .col-md-8.col-md-offset-2
        %h3 Thank you for signing up to keep updated on our Girls Matter campaign, you’ll now be among the first to hear about all the exciting developments.
        %p
          We hope you’ll continue to show your support by taking the campaign pledge on launch day – 7 September. Visit the Girls Matter homepage on the day to find out how, or look out for a reminder from us!
        =link_to('Back to girlguiding.org.uk', 'http://girlguiding.org.uk/home.aspx', :class => 'btn btn-hollow mt-3')